@use "global" as *;
.card__badge {
  position: relative;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}

.card__badge::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-width: rem(60) rem(60) 0 0;
  border-style: solid;
  border-color: #e25c00 transparent transparent transparent;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
